* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    ---color1:  black;
    ---color2:  gray;
    ---color3: white;
    ---color4: orange;
    ---color5: rgb(25, 21, 21);
}

html {
    font-family: 'Quicksand', sans-serif;
}